.articlesList {
  padding: 0;
  margin: 0;
}

.articleCard {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 20% 70% 10%;
  list-style-type: none;
  margin: 2px;
  padding: 5px;
  color: #171f2d;
  align-items: center;
  border-radius: 20px;
  background-color: #f0f1f3;
}

.articleCard:hover {
  background-color: #676265;
  color: #f0f1f3;
}

.articleCard:nth-child(odd):hover {
  /* background-color: #81876f; */
}

/* #05386B, #379683, #5CDB95, #8EE4AF, #EDF5E1 */

.artTitle {
  grid-column-start: 2;
  grid-row: 1/3;
  margin: 5px;
}

.artVotes {
  grid-column-start: 1;
  grid-row-start: 1;
  font-size: smaller;
}

.artAuthor {
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: small;
}

.artBody {
  padding: 5px;
  margin: 5px;
}

.articlesCustom {
  display: flex;
  justify-content: space-between;
}

.sortElements {
  display: flex;
}

.deleteArticle {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* width: 50px; */
  grid-row-start: 2;
  font-size: smaller;
}
