.CommentsList {
  font-size: 85%;
  padding: 20px;
  margin: 0;
}

.CommentCard {
  border: 2px mediumspringgreen solid;
  list-style-type: none;
  background-color: #676265;
}

.CommentHeaders {
  color: #171f2d;
}
