@import '/src/css/articles.css';
@import '/src/css/comments.css';
@import '/src/css/bootstrap-overwrites.css';

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 0.5fr 0.25fr 8fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'App-header' 'Navbar' 'Content';
  background-color: #171f2d;
  min-height: 120vh;
}

.App-header {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 'login';
  /* border: 2px red solid; */
  grid-area: App-header;
  color: #f0f1f3;
}

.Navbar {
  color: #f0f1f3;
  grid-area: Navbar;
}

.Content {
  color: #f0f1f3;
  grid-area: Content;
  font-size: 60%;
  margin: 10px;
}

.login {
  display: flex;
  justify-content: flex-end;
  font-size: 70%;
}

.button {
  background-color: #62be96;
  border-radius: 70px;
  border: transparent;
}

@media only screen and (min-width: 450px) {
  .App {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.5fr 4fr;
    grid-template-areas: 'App-header App-header' 'Navbar Content';
  }
  .Navbar {
    display: flex;
    flex-direction: column;
  }
}

.button {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.votesButtons {
  display: flex;
  justify-content: center;
}

.Content {
  font-size: large;
  margin: 1px;
}
